
{% extends 'base_nav.html' %}
{% block content %}


<body>
    <div class="about">
        <div class="inner-section">
            <h1>About Us</h1>
            <p class="text">
                Nit-Wheels was developed and designed by<strong> Nitish Ramaraj </strong>who is also the CEO at present of the leading moto blogging company. 
                Nit-Wheels was developed with a motive to improve the Moto-Vehicles consumer experience, with such an application
                customers are freely able to share their genuine views and thoughts. And we are also a loved company by Moto-Enthusiasts
                for conducting several Races, Rides all across the world. Serving you all since 2003 <br>
                <br>
                We are a startup funded by XYZ Partners, ABC Inc and EFG Group. We are registered as a profittable company
                and strictly compiled with XYZ DIGITAL ACT 20003.<br><br>
            </p>
         

           </form>
        </div>
    </div>
</body>

{% endblock %}